[Unit]
Description=PoisnCopy application service
[Service]
WorkingDirectory=/var/www/poisncopy
ExecStart=/usr/bin/dotnet /var/www/poisncopy/PoisnCopy.dll
Restart=always
#Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=poisncopy
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]
WantedBy=multi-user.target